:root {
    --Mirage-darkblue: #1C2135;
    /* for text-colors*/
    --WaiKawa-GrayBlue: #5A6794;
    /* for background-colors*/
    --Wild-Blue-Yonder: #8794C0;
    /* for background-colors*/
    --Athens-Gray: #E7E9EE;
    /* for background-colors*/
    --Akaroa-light-brown: #D8CDB0;
    /* whole-backgroung-colors*/
}

* {
    margin: 0;
    padding: 0;
    transition: all 400ms ease;
    box-sizing: border-box;
}

section.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.border-bottom {
    width: 200px;
    height: 8px;
    background-color: #1C2135;
    border-radius: 20px;
}

.faq-content {
    width: 80%;
    margin: auto;
    padding: 20px;
    gap: 50px;
}

.faq-content h1, .faq-content h6 {
    text-align: center;
}

.faq h6 span {
    color: #5A6794;
    cursor: pointer;
}


.faq-accordions {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
    gap: 50px;
}



/* codes for the accordion using angular materials */

.example-accordion {
    display: block;
    max-width: 650px;
}

.example-accordion-item {
    display: block;
    border: solid 1px #ccc;
}

.example-accordion-item+.example-accordion-item {
    border-top: none;
}

.example-accordion-item-header {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.example-accordion-item-description {
    font-size: 20px;
    color: black;
}

.example-accordion-item-header,
.example-accordion-item-body {
    padding: 16px;
}

.example-accordion-item-header:hover {
    cursor: pointer;
    background-color: #eee;
}

.example-accordion-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.example-accordion-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

@media screen and (max-width: 700px) {
    .faq-accordions {
        grid-template-columns: 1fr;
    }
}