<section class="dashboards">
    <div class="sidebar">
        <h1>WelDup</h1>
        <h2>Dashboard</h2>
        <nav class="sidebar-nav">
            <a (click)="changeTab('dashboard')">Dashboard</a>
            <a (click)="changeTab('products')">Products</a>
            <a (click)="changeTab('orders')">Orders</a>
            <a (click)="changeTab('profile')">Profile</a>
            <a (click)="changeTab('analytics')">Analytics</a>
            <a href="#" style="margin-top: 150px;">Log Out</a>
        </nav>
    </div>

    <div class="main-content">
        <h1>Hello Company!!!</h1>
        <span (click)="changeTab('profile')"
            style="font-size: 70px; position: absolute; top: 25px; right: 35px; cursor: pointer;">
            <mat-icon>group</mat-icon>
        </span>
        @if (currentPage == 'dashboard') {
        <div class="dashboard-grid">
            @for (item of items; track $index) {
            <div class="dashboard-card">
                <h4>{{item.header}}</h4>
                <h4>{{item.numbers}}</h4>
            </div>
            }

            <div class="dashboard-card sales-chart recent-orders">
                <h3>Items Available</h3>
                <div style="height: fit-content; background-color: #ecf0f1;">

                    <table>
                        <thead>
                            <tr>
                                <th>Item Name</th>
                                <th>Amount</th>
                                <th>Company Names</th>
                                <th>Country</th>
                                <th>City</th>
                                <th>status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of orders; track $index) {
                            <tr>
                                <td>{{item.itemName}}</td>
                                <td>{{item.amount}}</td>
                                <td>{{item.companyName}}</td>
                                <td>{{item.country}}</td>
                                <td>{{item.city}}</td>
                                <td>{{item.status}}</td>
                            </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>



        </div>

        }

        @if (currentPage == 'orders') {
        <div class="dashboard-card recent-orders">
            <h3>Recent Orders</h3>
            <table>
                <thead>
                    <tr>
                        <th>Item Name</th>
                        <th>Amount</th>
                        <th>Company Names</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of orders; track $index) {
                    <tr>
                        <td>{{item.itemName}}</td>
                        <td>{{item.amount}}</td>
                        <td>{{item.companyName}}</td>
                        <td>{{item.country}}</td>
                        <td>{{item.city}}</td>
                        <td>{{item.status}}</td>
                    </tr>
                    }

                </tbody>
            </table>
        </div>
        }

        @if (currentPage == 'profile') {
        <h2>Manage Your Account</h2>
        <button class="profileview" (click)="profileChangeTab('profileview')">Profile</button>
        <button class="profileform" (click)="profileChangeTab('profileform')">Update</button>
        <div class="profile">
            @if ( profilePage == 'profileview') {
            <div class="profileview">
                <img [src]="imgurl" alt="">
                <div class="profile-text">
                    <h4>Name: <span style="font-weight: 600;">{{username}}</span></h4>
                    <h4>Email: <span style="font-weight: 600;">{{email}}</span></h4>
                    <h4>Number: <span style="font-weight: 600;">{{number}}</span></h4>
                    <h4>Country: <span style="font-weight: 600;">{{country}}</span></h4>
                    <h4>City: <span style="font-weight: 600;">{{city}}</span></h4>
                </div>
            </div>
            }
            @if (profilePage == 'profileform') {
            <div class="profileform">
                <h2>Fill the Form Below</h2>
                <label for="">Full Name <br><input type="text" [(ngModel)]="username"></label><br>
                <label for="">Email Address <br> <input type="email" name="" id="" [(ngModel)]="email"></label><br>
                <label for="">Phone Number <br> <input type="text" name="" id="" [(ngModel)]="number"></label><br>
                <label for="">Country <br><input type="text" name="" id="" [(ngModel)]="country"></label><br>
                <label for="">City <br> <input type="text" name="" id="" [(ngModel)]="city"></label><br>

                <button>submit</button>
            </div>
            }
        </div>
        }
        @if (currentPage == 'analytics') {

        <h1>graphs </h1>
        }

        @if (currentPage == 'products') {
            <h1>Products and Uploads </h1>
            <div class="products-item">
                <div class="card" >
                    <img [src]="" alt="">

                    <div class="product-text">
                        <p>Product Name: <span></span></p>
                        <p>Price: <span>frs</span></p>
                        <p>Company Name: <span></span></p>
                        <p>Location: <span></span></p>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
        }


    </div>
</section>