<section class="login">
    <h1>Welcome To WelDup</h1>
    <form action="POST">
        <fieldset>
            <h5>Login as an Admin</h5>
            <input type="text" id="username" [(ngModel)]="username" name="username"  placeholder="Enter Your Email" required>
            <input type="password" id="password" [(ngModel)]="password" name="password" placeholder="Enter Your Password" required>
            <input type="password" id="pin" [(ngModel)]="pin" name="pin" placeholder="Enter Admin PIN" required>
            <a href="">Forgot password?</a>
            <input type="button" value="Submit" (click)="goToAdminDashboard()">
        </fieldset>
    </form>
</section>
