<section class="home">
    <div class="hero">
        <h1>Our Services</h1>
        <p>Weldup: Your one-stop platform for welding products and services. <br> Find, compare, and connect with top welding <br> professionals."</p>
        <div class="hero-buttons">
            <a href="#"><button type="button" class="learn">Learn More</button></a>
            <a href="#"><button type="button" class="register">Register</button></a>
        </div>
    </div>
</section>

<section class="service">
    <h1>Services Available</h1>
    <div class="border-bottom"> </div>
    <div class="services-content">
        <div class="box">
            <mat-icon>{{services[0].icon}}</mat-icon>
            <h2>{{services[0].heading}}</h2>
            <p>{{services[0].text}}</p>
        </div>
        <div class="box">
            <mat-icon>{{services[1].icon}}</mat-icon>
            <h2>{{services[1].heading}}</h2>
            <p>{{services[1].text}}</p>
        </div>
        <div class="box">
            <mat-icon>{{services[2].icon}}</mat-icon>
            <h2>{{services[2].heading}}</h2>
            <p>{{services[2].text}}</p>
        </div>
        <div class="box">
            <mat-icon>{{services[3].icon}}</mat-icon>
            <h2>{{services[3].heading}}</h2>
            <p>{{services[3].text}}</p>
        </div>
        <div class="box">
            <mat-icon>{{services[4].icon}}</mat-icon>
            <h2>{{services[4].heading}}</h2>
            <p>{{services[4].text}}</p>
        </div>
        <div class="box">
            <mat-icon>{{services[5].icon}}</mat-icon>
            <h2>{{services[5].heading}}</h2>
            <p>{{services[5].text}}</p>
        </div>
    </div>
    <a href="#"><button>More</button></a>
</section>

<app-footer></app-footer>