<section class="about">
    <div class="about-content">
        <div class="about-box1">
            <h3>About Us</h3>
            <div class="border-bottom"></div>
            <h2>Our Dream Is Global Recongnition</h2>
            <p>Weldup is your one-stop platform for connecting with welding professionals and discovering top-quality
                welding products. Whether you're a welding company looking to expand your reach or a customer seeking
                reliable welding solutions, Weldup offers a convenient and efficient marketplace. Join our thriving
                community and unlock new opportunities for growth and collaboration.
            </p>
        </div>
        <div class="about-box2">
            <img src="about.png" alt="">
            <div class="about-number">
                <h4>Already With Us</h4>
                <div class="numbers">
                    <div class="number-box">
                        <h4>200+</h4>
                        <p>Clients</p>
                    </div>
                    <div class="number-box">
                        <h4>87+</h4>
                        <p>Companies</p>
                    </div>
                    <div class="number-box">
                        <h4>4+</h4>
                        <p>Partners</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>