<section class="register">
    <div class="register-content">
        <div class="register-text">
            <h3>Join WeldUp and Transform <br> Your Welding Experience!</h3>
            <p>Are you looking for a hassle-free way to access top-quality welding products? Look no further! At
                WeldUp, we are dedicated to bridging the gap between clients and trusted welding companies. By
                creating an account with us, you unlock a world of possibilities tailored to meet your welding
                needs.</p>
            <img src="https://img.freepik.com/free-photo/rich-african-man-stylish-traditional-clothes-hat-posed-outdoor-background-his-mansion-speaking-mobile-phone_627829-14287.jpg?uid=R108985352&ga=GA1.1.474556739.1722353286&semt=ais_hybrid"
                alt="">
        </div>
        <form [formGroup]="registerClientForm">
            <h3>Create Account</h3>
            <div class="register-buttons">
                <!-- togggles buttons -->               
                <button type="button" (click)="changeTab('step1')">Step 1</button>
                <button type="button" (click)="changeTab('step2')">Step 2</button>
                <button type="button" (click)="changeTab('step3')">Step 3</button>
            </div>
            <div>
                 <span>Already Have Account?</span><a routerLink="/loginClient">Login Here</a>
            </div>

            <fieldset *ngIf="currentComponent == 'step1'">
                <h4> Step 1. Personal Information</h4>
                <p>Please fill in the following information</p>
                
                <div>
                    <input formControlName="fullName"  type="text" placeholder="Full Name" required />
                    <span *ngIf="registerClientForm.hasError('required', 'fullName') && registerClientForm.controls['fullName'].dirty">*FirstName is required</span>
                </div>

                <div>
                    <input formControlName="email" type="email" placeholder="Email" required />
                    <span *ngIf="registerClientForm.hasError('required', 'email') && registerClientForm.controls['email'].dirty">*Email is required</span>
                    <span *ngIf="registerClientForm.hasError('email', 'email')" >*Email is Invalid</span>
                </div>
                
                <div>
                    <input formControlName="phoneNumber" type="text" placeholder="Phone Number" required />
                    <span *ngIf="registerClientForm.hasError('required', 'phoneNumber') && registerClientForm.controls['phoneNumber'].dirty">*Phone Number is required</span>                    
                </div>

                <div>
                    <input formControlName="password" type="password" placeholder="Password" required />
                    <span *ngIf="registerClientForm.hasError('required', 'password') && registerClientForm.controls['password'].dirty">*Password is required</span>
                </div>
                <div>
                   <input formControlName="confirmPassword" type="password" placeholder="Confirm Password">
                   <span *ngIf="registerClientForm.hasError('required', 'confirmPassword') && registerClientForm.controls['confirmPassword'].dirty">*Confirm Password is required</span>
                   <span *ngIf="registerClientForm.hasError('confirmPasswordValidator', 'confirmPassword')">*Password didn't matched!!</span>
                </div>
                <button type="button" (click)="changeTab('step2')" >next</button>
            </fieldset>

            <fieldset *ngIf="currentComponent == 'step2'">
                <h4>Step 2. Location Information</h4>
                <p>Please fill in the following information</p>
                
                <div>
                    <input  formControlName="city" type="text" placeholder="City" required />
                    <span *ngIf="registerClientForm.hasError('required', 'city') && registerClientForm.controls['city'].dirty">*City is required</span>
                </div>

                <div>
                    <input formControlName="address" type="text" placeholder="Address" required />
                    <span *ngIf="registerClientForm.hasError('required', 'address') && registerClientForm.controls['address'].dirty">*Address is required</span>
                </div>
                
                <div>
                    <select formControlName="role" name="Role"><option value="Client">Client</option></select>            
                    <span *ngIf="registerClientForm.hasError('required', 'role') && registerClientForm.controls['role'].dirty">*Role is required</span>
                </div>
                

                <button type="button" (click)="changeTab('step3')" >next</button>
            </fieldset>

            <fieldset *ngIf="currentComponent == 'step3'">  
                <h2>Click on the button below to create an account</h2>
                <button [disabled]="registerClientForm.invalid" [class.disabled]="registerClientForm.invalid" (click)="registerClient()" >Submit</button>
            </fieldset>
                
        </form>
    </div>
</section>